
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


:root{
    --azul:#2E8A99;
    /*#22d4UZIfd*/
    --preto: #0E2954;
    --branco: #84A7A1;
    --cinza: #1F6E8C;

}

*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing:border-box;
    /* height: 100vh; */
    background-color: var(--preto);
    color: var(--branco);
    
    
}
strong{
    color: var(--azul);
    font-size: 1.85rem;
}

.main__gabriel {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6%;
    gap: 80px;
    padding-left: 200px;
    padding-right: 200px;
     
}

.textos__conteudo{
    width: 517px;
    flex-direction: column;
    display:flex;
    align-content: center;
    gap: 40px;
    

}
.destaque{
    font-size: 1.5rem;
   
}

.jeff{
    font-size: 1.5rem;
    
}
.jeff:hover{
    color: rgb(133, 25, 6);
}
.texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif; ;
    
   
    
}
.titulo{
    font-size: 2.25rem; 
    font-family: 'Krona One', sans-serif;; 
 }

.botoes__fake{
  display: flex;
  overflow: visible;

}




.botoes{
    display: flex;
    justify-content: space-between;
    offset-distance: 50px;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.botoes__imagem{
    display: flex;
    justify-content:center;
    gap: 16px;
    background-color: var(--preto);
    border: 2px solid var(--azul) ;
    border-radius: 16px;
    padding: 16px;
    width: 40%;

    font-size: 1.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    text-decoration-line: none;
    image-rendering: pixelated;

    position:sticky;
    

}
.link{
    color: var(--branco);
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif; 
    justify-content: center;
}
.link__2{
    color: var(--branco);
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem;
}
.botoes__imagem:hover{

    background-color:var(--cinza);
    width: 290px;
    

}



.rodape{
    display: flex;
    width: content;
    height: 70px;
    background-color: var(--azul);
    color: var(--preto);
    align-items: center;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 140px;
}

.cabecario{
   padding: 2% 0% 0% 15%;



}

.texto_cabecario{
    display: flex;
    gap: 80px;
    
}
.link_canecario{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--azul);
    text-decoration: none;
}




/*--------------------------------------------------------------------------
--------------------------------SOBRE-MIM-----------------------------------
--------------------------------------------------------------------------*/


.main__sobre_mim{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding: 5% 15%;
    
}

.textos__sobre_mim{
    display: flex;
    flex-direction: column;
    align-items: start;

    
    
    gap: 80px;
    width: 40%;;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;

}
.cabecario__sobre_mim{
    display: flex;
    justify-content: flex-start;
    font-family: 'Krona One', sans-serif;
    font-size: 1.2px;
    color: var(--azul);
    padding: 65px;
    padding-left: 390px;
    gap: 80px;
    padding-bottom: 30px;
    padding-top: 67px;



}
.titulo_sobre_mim{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    line-height: 34px;
    
}
.texto_cabecario__sobre_mim{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    font-size: 1.2rem;
}

.imagem{
    width: 40%;
}


.jorge{
    display: flex;
    width: 400px;
    height: 70px;
    background-color: var(--azul);
    color: var(--preto);
    align-items: center;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 210px;
    padding-left: 38%;
    
}
.palavras__rodape{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 500px;
    align-items: center;

}
.secreto{
    display: flex;
    justify-content:center;
    gap: 16px;
    background-color: var(--azul);
    width: 160px;
    border: 4px solid var(--preto) ;
    border-radius: 16px;
    padding: 16px;
    font-size: 0.65rem;
    text-decoration: none;
    color: #5F7161;

}


@media(max-width: 1100px){
     .main__gabriel{
        flex-direction: column-reverse;
        padding: 10%;
     }
     .textos__conteudo{
        width: 100%;
     }
     .imagem{
        margin-top: 15%;
        width: 427px;
     }
     .main__sobre_mim{
        flex-direction: column-reverse;
        padding: 10%;
     }
    .textos__sobre_mim{
        width: 99%;
        gap: 50px ;
        justify-content: flex-start;
        font-size: 2rem;

    }
    .texto{
        font-size: 2rem;
    }
    .titulo{
        font-size: 3.1rem;

    }
    .cabecario{
        margin-top: 5%;
        display: flex;
        justify-content: center;
        padding-left: 10%;
    }
}
    
    
